{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
        {{ $thumb := .Resize "1200x" }} <!-- 適切なサイズに変更 -->
        <a href="{{ $image.RelPermalink }}" data-lightbox="gallery" data-title="{{ .Title }}">
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="gallery-image responsive-image">
        </a>
    {{end}}
{{ end }}

{{ .Content }}
{{ template "_internal/disqus.html" . }}

{{ end }}